<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digitais</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body class="gerenciarDigitais">
  <%- include('../layouts/header') %>

  <h1>Gerenciar Digitais</h1>
  
  <form action="/digitais/cadastrar" method="POST">
    <input type="text" name="nome" placeholder="Nome do Aluno" required />
    <input type="number" name="id" placeholder="ID da Digital" required />
    <button type="submit">Cadastrar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% digitais.forEach(digital => { %>
        <tr>
          <td><%= digital.id %></td>
          <td><%= digital.nome %></td>
          <td>
            <form action="/digitais/editar/<%= digital.id %>" method="POST" style="display:inline;">
              <input type="text" name="nome" value="<%= digital.nome %>" />
              <button type="submit">Editar</button>
            </form>
            <form action="/digitais/excluir/<%= digital.id %>" method="POST" style="display:inline;">
              <button type="submit">Excluir</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <%- include('../layouts/footer') %>
  <script type="module">
    import { initializeMQTT } from './assets/js/mqttClient.js';
    initializeMQTT();
  </script>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
