<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digitais</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="gerenciarDigitais">
  <%- include('../layouts/header') %>

  <main>
    <form action="/digitais/cadastrar" method="POST" class="adicionar-digital-form">
      <h1>Gerenciar Digitais</h1>
      <!-- Campo de Nome do Aluno -->
      <input type="text" name="nome" placeholder="Nome do Aluno" required />
      <button type="submit">Cadastrar</button>
    </form>

    <!-- Campo de Pesquisa -->
    <div class="search-container">
      <input type="text" placeholder="Pesquisar Digital..." id="search">
      <button type="button" id="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <!-- Tabela de Digitais -->
    <table id="digitais-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% digitais.forEach(digital => { %>
          <tr>
            <td><%= digital.id %></td>
            <td><%= digital.nome %></td>
            <td>
              <div class="action-icons">
                <!-- Formulário para Editar Digital -->
                <form action="/digitais/editar/<%= digital.id %>" method="POST" class="edit-form" data-id="<%= digital.id %>">
                  <input type="hidden" name="_method" value="PUT"> <!-- Campo oculto para simular PUT -->
                  <input type="hidden" name="nome" value="<%= digital.nome %>" />
                  <button type="submit" class="edit-icon-btn">
                      <i class="fas fa-pencil-alt"></i>
                  </button>
                </form>
                
                <!-- Formulário para Excluir Digital -->
                <form action="/digitais/excluir/<%= digital.id %>" method="POST" style="display:inline;" class="delete-form">
                  <button type="submit" class="delete-icon-btn">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </td>            
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>  

  <%- include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
