<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gerenciar Usuários</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="gerenciar-usuarios">
  <%- include('../layouts/header') %>
  <main>
    <form class="adicionar-usuario-form" method="POST" action="/admin/usuarios/adicionar">
      <h1>Usuários</h1>
      <input type="text" name="nome" id="add-name" placeholder="Nome" required>
      <input type="email" name="email" id="add-email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
      <input type="password" name="senha" id="add-password" placeholder="Senha" required>
      <button type="button" id="confirm-add">Adicionar Usuário</button>
    </form>       

    <!-- Caixa de pesquisa -->
    <div class="search-container">
      <input type="text" placeholder="Pesquisar Usuário..." id="search">
      <button type="button" id="search-button">
        <i class="fas fa-search"></i>
      </button>
    </div>
    
    <table id="usuarios-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% usuarios.forEach(usuario => { %>
          <tr>
            <td><%= usuario.id %></td>
            <td><%= usuario.nome %></td>
            <td><%= usuario.email %></td>
            <td>
              <div class="action-icons">
                <a href="/admin/usuarios/editar/<%= usuario.id %>">
                  <i class="fas fa-pencil-alt"></i>
                </a>
                <form class="delete-form-usu" action="/admin/usuarios/excluir/<%= usuario.id %>" method="POST" style="display:inline;">
                  <button type="submit" class="delete-icon-btn">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </form>
              </div>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </main>  

  <%- include('../layouts/footer') %>
  <script type="module" src="/assets/js/main.js"></script>
</body>
</html>
